@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    line-height: 1.25;
}

#root {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}


a {
    color: #243e63;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #6415ff
}


p {
    display: flex;
    width: 100%;
}

button {
    display: flex;
    color: #f7fafc;
    width: 50%;
    height: 100%;
    position: relative;
    font-size: 14px;
    background-color: #6415ff;
    border: hidden;
    border-radius: 40px;
    font-weight: 700;
    margin: 8px 8px 8px 0px;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
}

.text__purple {
    color: #243e63;
    font-weight: 800;
}

.text__blue {
    color: #6415ff;
    padding-left: 10px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1300px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 80px 0;
}

.row {
    display: block;
    width: 100%;
    max-width: 1300px;
    padding: 32px 0;
}


ul {
    display: flex;
    width: 100vw;
    max-width: 1300px;
}

li {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-around;
}

header {
    display: flex;
    height: 100%;
    width: 100%;
    max-height: 70px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.spacer {
    display: flex;
    height: 36px;
}


/* Nav */

nav {
    display: flex;
    width: 100%;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__landing--img {
    height: 40px;
}

.logo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 32px;
    margin: 0 auto;
}

.nav__link {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin: 0 24px;
    padding: 0 0 4px;
}

.nav__link--styled {
    display: flex;
    padding: 0 24px 0 48px;
}

.nav__link--primary {
    color: #f7fafc;
    font-size: 14px;
    background-color: #6415ff;
    border-radius: 40px;
    padding: 12px 32px;
}


/* Title Page */
.landing {
    display: flex;
    position: relative;
    padding: 92px 0;
}

.text__purple--landing {
    color: #6415ff;
}

.text__purple--started {
    font-size: 1.125rem;
    font-weight: 700;
    height: 100%;
    color: #f7fafc;
    background-color: #6415ff;
    border-radius: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.landing__column1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    align-items: center;
    line-height: 1.25;
}

.landing__title {
    display: block;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}

.landing__title--para {
    display: block;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.5;
    padding: 24px 0;
}

.landing__column2 {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

.landing__title--img {
    display: block;
    vertical-align: middle;
    width: 100%;
    padding: 0 0 96px 46px;
}

input {
    display: flex;
    border: none;
    position: relative;
    width: 100%;
    opacity: 0.3;
    font-size: 18px;
    font-weight: 500;
}

.landing__input {
    background-color: #ffffff;
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(128, 128, 128, 0.41);
    border-radius: 40px;
    padding: 0px 0px 0px 20px;
}

.img__container {
    width: 100%;
    margin: 0 auto;

}

.landing__customer--logo-strip {
    flex-direction: column;
    font-size: 12px;
    opacity: 0.5;
    padding: 80px 0 0;
}

.customer__logo--img {
    width: 100%;
    margin: 16px 0 0;
    padding: 0 64px 0 0;
}

/* Features */
.text__purple--features {
    color: #6415ff;
    font-weight: 800;
}

.features__container {
    width: 100%;
    max-width: 1300px;
}

.features__row {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.features__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px
}

.features__heading {
    display: flex;
    position: relative;
    width: 100%;
    font-size: 48px;
    color: #243e63;
    align-items: center;
    justify-content: center;
}

.features__para {
    display: flex;
    position: relative;
    max-width: 576px;
    font-size: 18px;
    color: #7c8ba1;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 16px 0 0;
}

.features__bullet--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    align-items: center;
    justify-content: center;
}

.features__bullet--row {
    display: flex;
    width: calc(100% / 3);
    align-items: start;
    justify-content: center;
    padding: 32px 8px;
}

.features__bullet--imgcont {
    display: flex;
    width: 100%;
    max-width: 66px;
    max-height: 66px;
}

.features__bullet--img {
    display: flex;
    position: relative;
    border-radius: 180px;
    width: 100%;
    padding: 16px;
    border: 1px solid #7c8ba14c ;
}

.features__text--container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50%;
    margin: 8px 0 0 16px;
    align-items: start;
    justify-content: start;
    text-align: start;
}

.features__bullet--title {
    display: flex;
    position: relative;
    font-size: 24px;
    color: #243e63;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.features__bullet--para {
    display: flex;
    color: #7c8ba1;
    position: relative;
    line-height: 2;
}

/* Quality */
#quality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1300px;
}

.quality__container {
    display: flex;
    width: calc(100% / 2);
    max-width: 1300px;
}

.quality__row {
    display: flex;
    width: 100%;
    max-width: 1300px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.quality__heading {
    display: flex;
    width: 100%;
    color: #6415ff;
    font-weight: 800;
    align-items: start;
    justify-content: start;
    text-align: start;
    font-size: 16px;
}


.quality__text {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;
    justify-content: start;
    text-align: start;
    width: 50%;
}

.quality__text--main {
    font-size: 48px;
    margin: 16px 0;
}

.quality__img {
    display: flex;
    position: relative;
    width: 50%;
}


/* professionals
container
row
50/50 df fdc */
/* pricing
container row
flex wrap
calc 100/3 df fdc
padding 
copy gradient and colors */
/* footer
row
flex wrap df
fdc links
width calc 100/5
 */
 /* questions accordion out of scope */
